
// Partials

@import 'normalize';
@import 'boostrap-grid';

// Colors

$white: #fff;
$black: #000;
$blue: #9ed1e2;
$red: #cc4960;


// Main Styles 

body {
	background-color: $blue;
	color: $white;
}
header {
	padding: 96px 15px 60px;
}
h1 {
	letter-spacing: 8px;
	font-size: 26px;
	text-align: center;
	padding: 30px 15px;
	margin: 0;
}
.select-box {
	.inner {
		text-align: center;
	}
	select {
	    border: 2px solid $white;
	    font-size: 18px;
	    margin: 0 auto;
	    width: 230px;
	    color: $white;
	    background-color: transparent;
	}
}
.product-container {
	margin: 96px auto 0;
	padding:  60px;
	background-color: $white;
	position: relative;
	min-height: 800px;
}
.loading-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.47);
}
img {
	max-width: 100%;
	margin-bottom: 20px;
}
.item {
	text-align: center;
	margin-bottom: 96px;
	color:  $black;
	.title {
		margin: 0 0 20px;
	    font-size: 18px;
	    font-weight: bold;
	}
	.badge {
		margin: 0 0 10px;
	    padding: 9px 10px;
	    text-transform: uppercase;
	    font-size: 11px;
	    letter-spacing: 1px;
	    color: $white;
	    background: $red;
	}
	.price {
		font-size: 15px;
		font-weight: bold;
	}
	.color {
		margin: 0 0 5px;
	    font-size: 13px;
	    letter-spacing: 1px;	
	}
}
.load-more-container {
	background: $white;
    padding-bottom: 40px;
    margin-bottom: 96px;
}
.load-more {
    padding: 11px 25px;
    color: $black;
    background: $white;
    border: 2px solid $black;
    margin: 0 auto;
    display: inherit;
}
@media screen and (min-width: 544px) {
	.item:nth-child(odd) {
		clear:  left;
	}
}
@media screen and (min-width: 768px) {
	.item:nth-child(odd) {
		clear:  none;
	}
	.item:nth-child(3n+1) {
		clear:  left;
	}
}
@media screen and (min-width: 992px) {
	.item:nth-child(3n+1) {
		clear:  none;
	}
	.item:nth-child(4n+1) {
		clear:  left;
	}
	h1 {
		font-size: 36px;
	}
}